footer {
    background-color: var(--branco);
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 110px;
    width: 1280px;
    margin: 0 auto;
}

.logo-empresas {
    display: flex;
    gap: 16px;
}

.icones {
    display: flex;
    gap: 32px;
    align-items: center;

    line-height: 32px;
}

.links-uteis {
    display: flex;
    flex-direction: column;

}

.links-uteis a {
    text-decoration: none;
    color: #000000;
}

@media(max-width:768px) {
    footer {
        padding: 16px;
    }

    .conteudo-rodape {
        flex-direction: column;

        width: 100%;
        height: 100vw;
    }

    .logo-empresas {
        flex-direction: column;
        align-items: center;
    }

    .icones {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:1279px) {
    .conteudo-rodape {
        width: 100vw;
    }
}