.container-elementos-main {
    width: 1280px;
    margin: 0 auto 64px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.conteudo-trilhas {
    position: relative;

    background-color: var(--branco);
    width: 400px;
    height: 445px;

    margin: 40px 0;
    border-radius: 4px;
}

.titulo-trilha {
    margin: 32px;
    color: var(--azul-titulo-trilhas);

}

.paragrafo-trilha {
    width: 330px;
    margin-left: 32px;
    margin-bottom: 16px;

    color: var(--preto);
}

.link-trilha {
    text-decoration: none;
    color: var(--azul-titulo-principal);

    position: absolute;
    text-align: center;

    width: 139px;
    padding: 16px;
    margin-left: 32px;
    bottom: 32px;

    border: 1px solid var(--azul-titulo-principal);
    border-radius: 4px;

    font-size: 14px;
}

.link-trilha:hover {
    background-color: var(--azul-titulo-principal);
    color: var(--branco);
    transition: 0.75s;
}

#mostrar {
    display: none;
    color: green;

    margin-top: 64px;

    text-align: center;
    padding: 16px;
}

#passar_mouse:hover #mostrar {
    display: block;
}

@media(max-width:768px) {
    .container-elementos-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
    }

    .conteudo-trilhas {
        width: 350px;
        height: 480px;

    }

    .titulo-trilha {
        margin: 16px;
    }

    .paragrafo-trilha {
        width: 300px;
    }
}

@media(max-width:1279px) {
    .container-elementos-main {
        width: 100vw;

        flex-wrap: wrap;
    }
}