/* Importação de fonte via Google Fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    --input: #DB1E8C;

    --cor-fonte-input: #FF97D3;

    --azul-fundo: #33475B;

    --azul-titulo-trilhas: #364372;

    --branco: #FFFFFF;

    --azul-titulo-principal: #264FEC;

}

/* Reset básico --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body --------- */
body {
    background-color: var(--azul-fundo);
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Header --------- */
header {
    height: 80px;
    background-color: var(--branco);
    display: flex;
}

.container-elementos-header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-principal {
    font-size: 24px;
    color: var(--azul-secundario);
    font-weight: 400;
}

.label-pesquisa {
    background-color: var(--input);
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
}

.input-pesquisa {
    background-color: transparent;
    padding: 4px;
    border: none;
}

::placeholder {
    color: var(--cor-fonte-input);
}